In [1]:
# Q1. WAF to print the length of a list. ( list is the parameter).

def print_list_length(my_list):
    print("Length of the list is:", len(my_list))

my_list = [1, 2, 3, 4, 5]
print_list_length(my_list)

Length of the list is: 5

In [2]:
# Q2. WAF to print the elements of a list in a single line. ( list is the parameter)

def print_list_elements_in_single_line(my_list):
    print(*my_list, sep=" ")


my_list = [1, 2, 3, 4, 5]
print_list_elements_in_single_line(my_list)

1 2 3 4 5

In [3]:
# Q3. WAF to find the factorial of n. (n is the parameter)


def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result


n = 5
print("Factorial of", n, "is", factorial(n))

Factorial of 5 is 120

In [4]:
# Q4. WAF to convert USD to INR.

def usd_to_inr(usd_amount):
    # Assuming 1 USD = 75 INR (just an example, you can update this according to the current exchange rate)
    exchange_rate = 75
    inr_amount = usd_amount * exchange_rate
    return inr_amount

usd_amount = 100
inr_amount = usd_to_inr(usd_amount)
print("$", usd_amount, "is equal to ₹", inr_amount)

$ 100 is equal to ₹ 7500

In [5]:
# Q5. Write a recursive function to calculate the sum of first n natural numbers.

def sum_of_natural_numbers(n):
    if n <= 1:
        return n
    else:
        return n + sum_of_natural_numbers(n - 1)

n = 5
print("Sum of first", n, "natural numbers is", sum_of_natural_numbers(n))

Sum of first 5 natural numbers is 15

In [6]:
# Q6. Write a recursive function to print all elements in a list.

def print_list_elements_recursive(my_list, index):
    if index < len(my_list):
        print(my_list[index], end=" ")
        print_list_elements_recursive(my_list, index + 1)


my_list = [1, 2, 3, 4, 5]
print_list_elements_recursive(my_list, 0)

1 2 3 4 5

In [13]:
# Q7: Calculate the area of a circle given its radius

def calculate_circle_area(radius):
    return 3.14159 * radius ** 2

radius = 4
print("Area of circle with radius", radius, "is", calculate_circle_area(radius))

Area of circle with radius 4 is 50.26544

In [12]:
# Q8: Check if a number is prime

def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

num = 17
print(num, "is prime?", is_prime(num))

17 is prime? True

In [14]:
# Q9: Reverse a given string

def reverse_string(input_string):
    return input_string[::-1]

string = "hello"
print("Reverse of", string, "is", reverse_string(string))

Reverse of hello is olleh

In [15]:
# Q10: Find the sum of all positive numbers in a list

def sum_of_positive_numbers(numbers):
    return sum(num for num in numbers if num > 0)

numbers = [1, -2, 3, -4, 5]
print("Sum of positive numbers in", numbers, "is", sum_of_positive_numbers(numbers))

Sum of positive numbers in [1, -2, 3, -4, 5] is 9

In [16]:
# Q11: Check if a given string is a palindrome

def is_palindrome(input_string):
    return input_string == input_string[::-1]

word = "radar"
print(word, "is a palindrome?", is_palindrome(word))

radar is a palindrome? True

In [17]:
# Q12: Return the factorial of a given number using recursion

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

n = 5
print("Factorial of", n, "is", factorial(n))

Factorial of 5 is 120

In [18]:
# Q13: Find the square of each element in a given list

def square_list_elements(numbers):
    return [num ** 2 for num in numbers]

nums = [1, 2, 3, 4, 5]
print("Square of each element in", nums, "is", square_list_elements(nums))

Square of each element in [1, 2, 3, 4, 5] is [1, 4, 9, 16, 25]

In [19]:
# Q14: Check if a number is even or odd

def check_even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

num = 7
print(num, "is", check_even_or_odd(num))

7 is Odd

In [20]:
# Q15: Calculate the area of a triangle given its base and height

def calculate_triangle_area(base, height):
    return 0.5 * base * height

base = 5
height = 8
print("Area of triangle with base", base, "and height", height, "is", calculate_triangle_area(base, height))

Area of triangle with base 5 and height 8 is 20.0

In [21]:
# Q16: Sort a list of strings alphabetically

def sort_strings_alphabetically(string_list):
    return sorted(string_list)

words = ["banana", "apple", "cherry", "date"]
print("Sorted list:", sort_strings_alphabetically(words))

Sorted list: ['apple', 'banana', 'cherry', 'date']

In [22]:
# Q17: Find the intersection of two lists

def find_list_intersection(list1, list2):
    return list(set(list1) & set(list2))

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
print("Intersection of", list1, "and", list2, "is", find_list_intersection(list1, list2))

Intersection of [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8] is [4, 5]

In [23]:
# Q18: Check if a given year is a leap year

def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

print("Is 2020 a leap year?", is_leap_year(2020))

Is 2020 a leap year? True

In [24]:
# Q19: Print multiplication table of a number

def print_multiplication_table(number):
    print("Multiplication table for", number)
    for i in range(1, 11):
        print(number, "x", i, "=", number * i)

print_multiplication_table(5)

Multiplication table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50