In [1]:
# 1. Print numbers from 1 to 100

for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
# 2. Print numbers from 100 to 1

for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [4]:
# 3. Print the multiplication table of a number n

n = int(input("Enter a number: "))
for i in range(1, 11):
    print(n, 'x', i, '=', n*i)

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [5]:
# 4. Print the elements of the list [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

my_list = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for num in my_list:
    print(num)

1
4
9
16
25
36
49
64
81
100

In [6]:
# 5. Search for a number x in the tuple [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

my_tuple = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = int(input("Enter a number to search: "))
for num in my_tuple:
    if num == x:
        print("Number found")
        break
else:
    print("Number not found")

Enter a number to search: 49
Number found

In [8]:
# 6. Using for & range() Print numbers from 1 to 100 and Print numbers from 100 to 1

# Printing numbers from 1 to 100
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
# 7. Write a program to find the sum of first n numbers using while loop

n = int(input("Enter a number: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print("Sum of first", n, "numbers is:", sum)

Enter a number: 20
Sum of first 20 numbers is: 210

In [10]:
# 8. Write a program to find the factorial of first n numbers using for loop

n = int(input("Enter a number: "))
factorial = 1
for i in range(1, n+1):
    factorial *= i
print("Factorial of", n, "is:", factorial)

Enter a number: 15
Factorial of 15 is: 1307674368000

In [12]:
# 9. Write a program to find the sum of first n numbers using for loop
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n+1):
    sum += i
print("Sum of first", n, "numbers is:", sum)

Enter a number: 25
Sum of first 25 numbers is: 325

In [13]:
# 10. Write a program to find the factorial of first n numbers using while loop
n = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i += 1
print("Factorial of", n, "is:", factorial)

Enter a number: 35
Factorial of 35 is: 10333147966386144929666651337523200000000