In [2]:
# Q1. Store following word meanings in a python dictionary: table: "a piece of furniture", "list of facts & figures" cat: "a small animal"

dictionary = {"cat": "a small animal","table": ["a piece of furniture", "list of facts & figures"]}
print(dictionary)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts & figures']}

In [1]:
# Q2. You are given a list of subjects for students. Assume one classroom is required for 1 subject. How many classrooms are needed by all students."python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C"

subjects = {"python", "java", "c++", "python", "javascript", "java","python", "java", "c++", "c"}
print(len(subjects))

5

In [3]:
# Q3. WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with an empty dictionary & add one by one. Use subject name as key & marks as value.

marks = {}
x = int(input("enter phy: "))
marks.update({"phy" : x})
x = int(input("enter math : "))
marks.update({"math": x})
x = int(input("enter chem: "))
marks.update({"chem" : x})
print(marks)

enter phy: 98
enter math : 99
enter chem: 100
{'phy': 98, 'math': 99, 'chem': 100}

In [4]:
# Q4. Figure out a way to store 9 & 9.0 as separate values in the set.(You can take help of built-in data types)

values = {
("float", 9.0),
("int", 9)
}
print(values)

{('int', 9), ('float', 9.0)}

In [8]:
# Q5: Create a dictionary to store information about a person (name, age, address).

person = {"name": "John Doe", "age": 30, "address": "123 Main St"}

In [9]:
# Q6: Add a new key-value pair to an existing dictionary.

person["email"] = "john@example.com"

In [10]:
# Q7: Create a set of unique numbers from a list of numbers.

numbers = [1, 2, 3, 4, 5, 1, 2, 3]
unique_numbers = set(numbers)

In [11]:
# Q8: Given two dictionaries, merge them into a single dictionary.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}

In [12]:
# Q9: Given two sets, find the union, intersection, and difference between them.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference:", difference_set)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}