In [ ]:
1. Set the variable testi to the string 'This is a test of the emergency text system, and save test1 to a file named test.bxt.

In [1]:
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'w') as file:
    file.write(test1)

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

# Checking for differences
if test1 == test2:
    print("There is no difference between test1 and test2")
else:
    print("There is a difference between test1 and test2")

There is no difference between test1 and test2

In [ ]:
3. Create a CSV file called books.csv by using these lines:

title, author, year

The Weirdstone of Brisingamen, Alan Garner, 1960

Perdido Street Station, China Miéville, 2000

Thud!, Terry Pratchett, 2005

The Spellman Files, Lisa Lutz, 2007

Small Gods, Terry Pratchett, 1992

In [3]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS books (
                    title TEXT,
                    author TEXT,
                    year INTEGER
                )''')

conn.commit()
conn.close()

In [ ]:
5. Read books.csv and insert its data into the book table

In [5]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip header row
    for row in reader:
        cursor.execute('INSERT INTO books VALUES (?, ?, ?)', row)

conn.commit()
conn.close()

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [6]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('SELECT title FROM books ORDER BY title')
titles = cursor.fetchall()
for title in titles:
    print(title[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [ ]:
7. From the book table, select and print all columns in the order of publication

In [7]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM books ORDER BY year')
books = cursor.fetchall()
for book in books:
    print(book)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in Exercise 6

In [8]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

# Creating a database engine
engine = create_engine('sqlite:///books.db')

# Creating a session
Session = sessionmaker(bind=engine)
session = Session()

# Creating a base class for declarative class definitions
Base = declarative_base()

# Defining the Book class
class Book(Base):
    __tablename__ = 'books'

    id = Column(Integer, primary_key=True)
    title = Column(String)
    author = Column(String)
    year = Column(Integer)

# Creating tables in the database
Base.metadata.create_all(engine)

<ipython-input-8-73ed2af7a5bd>:14: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer.
Create a Redo hash called test with the fields count (1) and name (Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis

# Connecting to Redis server
r = redis.Redis(host='localhost', port=6379, db=0)

# Creating a Redis hash called test
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Printing all fields for test
print(r.hgetall('test'))

In [ ]:
10. Increment the count field of test and print it.

In [ ]:
import redis

# Connecting to Redis server
r = redis.Redis(host='localhost', port=6379, db=0)

# Incrementing the count field
r.hincrby('test', 'count', 1)

# Printing the updated count field
print(r.hget('test', 'count'))