In [6]:
# Q1) Find the datatype of these two declarations.
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
# Q2) Check whether the following syntax is valid or invalid for naming a variable.Example: abc=100 #valid syntax

1) 3a=10 - Invalid syntax
2) @abc=10 - Invalid syntax
3) a100=100 - valid syntax
4) _a984_=100 - valid syntax
5) a9967$=100 - Invalid syntax
6) xyz-2=100 - Invalid syntax

In [13]:
"""Q3) Check if an element exists in the list in Python.
list = test_list = [1, 6, 3, 5, 3, 4]
1) Check if 3 exist or not.
2) Check if 9 exists or not"""

test_list = [1, 6, 3, 5, 3, 4]
# Check if 3 exists
if 3 in test_list:
    print("3 exists in the list")
else:
    print("3 does not exist in the list")

# Check if 9 exists
if 9 in test_list:
    print("9 exists in the list")
else:
    print("9 does not exist in the list")

3 exists in the list
9 does not exist in the list

In [15]:
# Q4) Take the user input to print the current date?

from datetime import datetime
user_input = input("Enter any text to display the current date: ")
current_date = datetime.now()
print("Current date:", current_date.strftime("%Y-%m-%d"))

Enter any text to display the current date: hello
Current date: 2024-04-04

In [21]:
# Q5) What is the output of the following code?

#a)
print (9//2)

#b)
print (9%2)

4
1

In [23]:
# Q6) Print the First 10 Natural Numbers using a while loop.

num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [24]:
# Q7) Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number.

num = int(input("Enter a number: "))
total_sum = sum(range(1, num + 1))
print("The sum of all numbers from 1 to", num, "is:", total_sum)

Enter a number: 5
The sum of all numbers from 1 to 5 is: 15

In [ ]:
Q8)Write a Python program that iterates the integers from 1 to 50. For
multiples of three print "Fizz" instead of the number and for multiples
of five print "Buzz". For numbers that are multiples of both three and
five print "FizzBuzz"?
Example:
FizzBuzz
1
2
Fizz
4
Buzz

In [25]:
for num in range(1, 51):
    # Check if the number is a multiple of both 3 and 5
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    # Check if the number is a multiple of 3
    elif num % 3 == 0:
        print("Fizz")
    # Check if the number is a multiple of 5
    elif num % 5 == 0:
        print("Buzz")
    # If the number is neither a multiple of 3 nor 5, print the number itself
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz