In [3]:
l  = ["shivaram" , 234,45.56, [45,56,6,"c"] , True]

In [4]:
for i in l :
  print(i)

shivaram
234
45.56
[45, 56, 6, 'c']
True

In [5]:
l[0]

'shivaram'

In [6]:
l[::-1]

[True, [45, 56, 6, 'c'], 45.56, 234, 'shivaram']

In [7]:
for i in l :
    if type(i)== list :
        print("this is a list " ,i)
    else :
        print("no element is not a list ", i)

no element is not a list  shivaram
no element is not a list  234
no element is not a list  45.56
this is a list  [45, 56, 6, 'c']
no element is not a list  True

In [8]:
l

['shivaram', 234, 45.56, [45, 56, 6, 'c'], True]

In [9]:
l1= [345,2345, "ineuron" , "tech "]

In [10]:
l + l1

['shivaram', 234, 45.56, [45, 56, 6, 'c'], True, 345, 2345, 'ineuron', 'tech ']

In [11]:
l * 2

['shivaram',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True,
 'shivaram',
 234,
 45.56,
 [45, 56, 6, 'c'],
 True]

In [12]:
len(l)

5

In [13]:
234  in l

True

In [14]:
print(max([2,3,4,5,45.56]))

45.56

In [15]:
max(["sdfs","sdfs" , 234])

TypeError: '>' not supported between instances of 'int' and 'str'

In [16]:
max(["sudh" , "ineruon" , "AI","z"])

'z'

In [17]:
min(["fsdfa3434","fsd","fsdfaaaaaaaaa","a" , "A"])

'A'

In [18]:
min([2,3,4,5,0])

0

In [19]:
min("34345",234,234.345,"344")

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
l=[1,2,3,4]

In [23]:
l.append(6+6j)

In [24]:
l

[1, 2, 3, 4, 'shivaram', (6+6j)]

In [25]:
l+ "shivaram"

TypeError: can only concatenate list (not "str") to list

In [26]:
l.append("shivaram")

In [27]:
l

[1, 2, 3, 4, 'shivaram', (6+6j), 'shivaram']

In [28]:
l=[1,2,3,4,5]

In [29]:
l.append("shivaram")

In [30]:
l

[1, 2, 3, 4, 5, 'shivaram']

In [32]:
l.insert(3,"ineuron")

In [39]:
l

[1, 2, 3, 'ineuron', 4, 5, 'test', 'shivaram']

In [38]:
l.insert(-1 , "test")

In [43]:
l

[1, 2, 3, 'ineuron', 4, 5, 'test', 'shivaram']

In [44]:
l.insert(-1 , "test2")

In [45]:
l

[1, 2, 3, 'ineuron', 4, 5, 'test', 'test2', 'shivaram']

In [47]:
l.count("test")

1

In [48]:
l

[1, 2, 3, 'ineuron', 4, 5, 'test', 'test2', 'shivaram']

In [49]:
l=[1,2,3,4]

In [50]:
l.append("shivaram")

In [51]:
l

[1, 2, 3, 4, 'shivaram']

In [53]:
l.append([1,2,4,56])

In [54]:
l.extend("test1")

In [68]:
l

[3, 4, 7, 8, 9, 3, 4, 7, 89, ['sdfusdf', 4, 5]]

In [56]:
s="test"
list(s)

['t', 'e', 's', 't']

In [58]:
l.extend(56)

TypeError: 'int' object is not iterable

In [59]:
l=[3,4,7,8,9]

In [60]:
l

[3, 4, 7, 8, 9]

In [63]:
l.extend([3,4,7,89,["sdfusdf",4,5]])

In [64]:
l

[3, 4, 7, 8, 9, 3, 4, 7, 89, ['sdfusdf', 4, 5]]

In [69]:
l.index(3)

0

In [70]:
l

[3, 4, 7, 8, 9, 3, 4, 7, 89, ['sdfusdf', 4, 5]]

In [71]:
l=[2,3,4,5,6,7]

In [72]:
l.pop()

7

In [73]:
l

[2, 3, 4, 5, 6]

In [74]:
l.pop(0)

2

In [75]:
l

[3, 4, 5, 6]

In [76]:
l=[4,5,6,7,8,9]

In [77]:
l.remove(6)

In [78]:
l

[4, 5, 7, 8, 9]

In [79]:
l

[4, 5, 7, 8, 9]

In [80]:
l.reverse()

In [81]:
l

[9, 8, 7, 5, 4]

In [82]:
l.sort()

In [83]:
l

[4, 5, 7, 8, 9]

In [84]:
l = [3,4,5,6,78,"sudh" , "ineuron" , 45.67]

In [85]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [86]:
l = [3,4,5,6,78 , 45.67]

In [87]:
l.sort()

In [88]:
l

[3, 4, 5, 6, 45.67, 78]

In [89]:
l = [[1,2,3,4],[5,6,7,"hello",8],[8,7,66],2,6]
l.append([2,3,4])
l.append(8+6j)
l.append([5,6,7])
for i in l:

  if type(i) == list:
    for j,v in enumerate(i):

      if type(v) == str:
        print("index of string: ",j)
        i[j]="hi"
    print(i[1])
print(l)

2
index of string:  3
6
7
3
6
[[1, 2, 3, 4], [5, 6, 7, 'hi', 8], [8, 7, 66], 2, 6, [2, 3, 4], (8+6j), [5, 6, 7]]

In [90]:
l = [[23,45],[6,7,'78S'],'ABC','REV']

#Q1

l.insert(2,['sdf','sdf'])
print(l)
l.insert(3,[11,12])
print(l)
l.insert(1,(2+3j))
print('After complex number- ',l)

#Q2
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print('Found String in Neasted List at index={} : {}'.format(i,j))
                print('Removed',j)
                i.remove(j)

print('List after remove ',l)

#Q3
k=1
for i in l:
    if type(i) == list and len(i) >=2:
        print('Neasted List ',k)
        print('2nd element of it is=',i[1])
        k+=1

[[23, 45], [6, 7, '78S'], ['sdf', 'sdf'], 'ABC', 'REV']
[[23, 45], [6, 7, '78S'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']
After complex number-  [[23, 45], (2+3j), [6, 7, '78S'], ['sdf', 'sdf'], [11, 12], 'ABC', 'REV']
Found String in Neasted List at index=[6, 7, '78S'] : 78S
Removed 78S
Found String in Neasted List at index=['sdf', 'sdf'] : sdf
Removed sdf
List after remove  [[23, 45], (2+3j), [6, 7], ['sdf'], [11, 12], 'ABC', 'REV']
Neasted List  1
2nd element of it is= 45
Neasted List  2
2nd element of it is= 7
Neasted List  3
2nd element of it is= 12

In [91]:
l = [[1,'a'],[3,4],[5,'b'],1,3,4,5,6]
# Append 2 more list and 1 complex number in between
l.insert(3,6j)
l.insert(4,[7,8])
l.insert(5,[9,0])
print (l)
for i in l:
    if type(i) == list:
        for t in i:
            if type(t) == str:
                print(t)

[[1, 'a'], [3, 4], [5, 'b'], 6j, [7, 8], [9, 0], 1, 3, 4, 5, 6]
a
b

In [92]:
l1 = [[22,"mahendra",55,22.4],["dhoni",77,11,55,78.9],[77,88,99],2,5,8]

l1.insert(2,[2,5,6])
l1.insert(4,[99,"pravin",88,True])
l1.insert(-1,6+4j)
l1

[[22, 'mahendra', 55, 22.4],
 ['dhoni', 77, 11, 55, 78.9],
 [2, 5, 6],
 [77, 88, 99],
 [99, 'pravin', 88, True],
 2,
 5,
 (6+4j),
 8]

In [93]:
for i in l1:
    if type(i) == list :
        for j in i:
            if type(j) == str :
                print(i.index(j))
                i.remove(j)

1
0
1

In [94]:
l=[["gh",56],[89,"yhg"],["90",98],78,90.0]

In [95]:
for e in l:
    if type(e)==list:
        l.insert(l.index(e)+1,[78,90])
        l.insert(l.index(e)+2,[89,"90","90","90"])
        l.insert(l.index(e)+3,6+7j)
        break
print(l)

[['gh', 56], [78, 90], [89, '90', '90', '90'], (6+7j), [89, 'yhg'], ['90', 98], 78, 90.0]

In [96]:
for i in l:
    if type(i)==list:
        for e in i:
            if type(e)==str:
                print(f"index of string in nested list of index number {l.index(i)} is {i.index(e)}")
                i.remove(e)
print("new list",l)

index of string in nested list of index number 0 is 0
index of string in nested list of index number 2 is 1
index of string in nested list of index number 2 is 1
index of string in nested list of index number 4 is 1
index of string in nested list of index number 5 is 0
new list [[56], [78, 90], [89, '90'], (6+7j), [89], [98], 78, 90.0]

In [97]:
l=[["gh",56],[89,"yhg"],["90",98],78,90.0]
for e in l:
    if type(e)==list:
        l.insert(l.index(e)+1,[78,90])
        l.insert(l.index(e)+2,[89,"90"])
        l.insert(l.index(e)+3,6+7j)
        break
print(l)
for i in l:
    if type(i)==list:
        for e in i:
            if type(e)==str:
                print(f"index of string in nested list of index number {l.index(i)} is {i.index(e)}")
                i.remove(e)
print("new list",l)
for i in l:
    if type(i)==list:
        for e in i:
            if len(i)>1:
                i.pop(1)
print("final list",l)

[['gh', 56], [78, 90], [89, '90'], (6+7j), [89, 'yhg'], ['90', 98], 78, 90.0]
index of string in nested list of index number 0 is 0
index of string in nested list of index number 2 is 1
index of string in nested list of index number 4 is 1
index of string in nested list of index number 5 is 0
new list [[56], [78, 90], [89], (6+7j), [89], [98], 78, 90.0]
final list [[56], [78], [89], (6+7j), [89], [98], 78, 90.0]

In [98]:
l1 = [[22,"mahendra",55,22.4],["dhoni",77,11,55,78.9],[77,88,99],2,5,8]

l1.insert(2,[2,5,6])
l1.insert(4,[99,"pravin",88,True])
l1.insert(-1,6+4j)

print(l1)

for i in l1:
    if type(i) == list :
        for j in i:
            if type(j) == str :
                print(i.index(j))
                i.remove(j)


print(l1)

for i in l1 :
    if type(i) == list :
        print(i[2], end = ",")

[[22, 'mahendra', 55, 22.4], ['dhoni', 77, 11, 55, 78.9], [2, 5, 6], [77, 88, 99], [99, 'pravin', 88, True], 2, 5, (6+4j), 8]
1
0
1
[[22, 55, 22.4], [77, 11, 55, 78.9], [2, 5, 6], [77, 88, 99], [99, 88, True], 2, 5, (6+4j), 8]
22.4,55,6,99,True,

In [99]:
l = [[1,2,3],[4,5,6],[7,8,9],12,"Santosh"]
l.insert(2,[3,2,1,"test","test","test"])
l.insert(2,[6,5,4])
l.insert(0, 5 + 6j)
print("Q1")
print(l)

Q1
[(5+6j), [1, 2, 3], [4, 5, 6], [6, 5, 4], [3, 2, 1, 'test', 'test', 'test'], [7, 8, 9], 12, 'Santosh']

In [100]:
l=[[4,5,"Sameer","Sameer","Sameer"],[346,7,3426,76],[34657,"Jadhav",74557,45,6],23095,'ineuron']
l.append([67,67])
l.append([55,55])
l.insert(3,3+6j)
l

[[4, 5, 'Sameer', 'Sameer', 'Sameer'],
 [346, 7, 3426, 76],
 [34657, 'Jadhav', 74557, 45, 6],
 (3+6j),
 23095,
 'ineuron',
 [67, 67],
 [55, 55]]

In [101]:
l=[[4,5,"Sameer","Sameer","Sameer"],[346,7,3426,76],[34657,"Jadhav",74557,45,6],23095,'ineuron']
l.append([67,67])
l.append([55,55])
l.insert(3,3+6j)
l

for i in l:
    if type(i)==list:
        for j in i:
            if type(j)== str:
                print (" got {} string at {} location".format(j,i))
                i.remove(j)
                print(i)

 got Sameer string at [4, 5, 'Sameer', 'Sameer', 'Sameer'] location
[4, 5, 'Sameer', 'Sameer']
 got Sameer string at [4, 5, 'Sameer', 'Sameer'] location
[4, 5, 'Sameer']
 got Jadhav string at [34657, 'Jadhav', 74557, 45, 6] location
[34657, 74557, 45, 6]

In [102]:
l=[[4,5,"Sameer","Sameer","Sameer"],[346,7,3426,76],[34657,"Jadhav",74557,45,6],23095,'ineuron']
l.append([67,67])
l.append([55,55])
l.insert(3,3+6j)
l

for i in l:
    if type(i)==list:
        for j in i:
            if type(j)== str:
                print (" got {} string at {} location".format(j,i))
                i.remove(j)
                print(i)

 got Sameer string at [4, 5, 'Sameer', 'Sameer', 'Sameer'] location
[4, 5, 'Sameer', 'Sameer']
 got Sameer string at [4, 5, 'Sameer', 'Sameer'] location
[4, 5, 'Sameer']
 got Jadhav string at [34657, 'Jadhav', 74557, 45, 6] location
[34657, 74557, 45, 6]

In [103]:
Main List :  [[1, 2, 3], [11, 12, 'b', 'b', 'b'], [21, 't', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]
Index :  2
Index :  2
Index :  1
Second Element :  2
Second Element :  12
Second Element :  223
Second Element :  5
Second Element :  8

SyntaxError: invalid syntax (<ipython-input-103-6a95c2f2dda6>, line 1)

In [104]:

l1 = [[1,2,3],[4,5,6],[7,8,9],'demo',12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]
# 1)
l1.insert(1,l2)
l1.insert(2,l3)
l1

[[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [105]:
l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

li=[]
for i,j in enumerate(l):
    if type(j) == list:
        for k,d in enumerate(j):
            if type(d) == str:
                print('index of string in the list is ',k)
                l[i][k] = 'ccc'
            if k == 1:
                li.append(j[k])
print(l)
li

index of string in the list is  2
index of string in the list is  3
index of string in the list is  4
index of string in the list is  1
[[1, 2, 3], [11, 12, 'ccc', 'ccc', 'ccc'], [21, 'ccc', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

[2, 12, 'ccc', 5, 8]

In [106]:
l

[[1, 2, 3],
 [11, 12, 'ccc', 'ccc', 'ccc'],
 [21, 'ccc', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [107]:
l = [[1, 2, 3],[11, 12, 'b', 'b', 'b'],[21, 't', 223],[4, 5, 6],[7, 8, 9],'demo',12.5]
for i in l:
    b=False
    if type(i) == list:
        a=False
        for j in i:
            if type(j)==str:
                i.remove(j)
                a=True
                break
        if a :
            print(l.index(i))
            l.remove(i)

1

In [108]:
l

[[1, 2, 3], [21, 't', 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [109]:

l = [[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223,44],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

#part 2
for sublist in l:
    if isinstance(sublist,list):
           for obj in sublist:
                if isinstance(obj,str):
                    print('Occurance found in sublist',sublist ,' at ',sublist.index(obj))
                    sublist.remove(obj)

    print(sublist)

#part 3

for i in l:
    if type(i)== list:
        print(i[2])

[1, 2, 3]
Occurance found in sublist [11, 12, 'b', 'b', 'b']  at  2
Occurance found in sublist [11, 12, 'b', 'b']  at  2
[11, 12, 'b']
Occurance found in sublist [21, 't', 223, 44]  at  1
[21, 223, 44]
[4, 5, 6]
[7, 8, 9]
demo
12.5
3
b
44
6
9

In [110]:
l

[[1, 2, 3], [11, 12, 'b'], [21, 223, 44], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [114]:
l = [1,2,3,4,5]

In [115]:
l1 = []

In [116]:
for i in "shivaram":
    l1.append(i)

In [117]:
l1

['s', 'h', 'i', 'v', 'a', 'r', 'a', 'm']

In [118]:
[[i] for i in "shivaram"]

[['s'], ['h'], ['i'], ['v'], ['a'], ['r'], ['a'], ['m']]

In [119]:
l = []
for i in range(10) :
    if i%2 ==0:
        l.append(i)

In [120]:
l

[0, 2, 4, 6, 8]

In [121]:
[i for i in range(10) if i %2 == 0 ]

[0, 2, 4, 6, 8]

In [122]:
8%3

2

In [123]:
8%2

0

In [124]:
l = []
for i in range(10):
    if i % 2 != 0:
        l.append("odd")
    else :
        l.append("even")

In [125]:
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [126]:
["odd" if i%2 != 0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [127]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [128]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [129]:
[i for i in range(8) if i % 2 == 0 if i % 3 == 0  ]

[0, 6]

In [130]:
l = []
for i in range(8):
    if i % 2 == 0 :
        if i % 3 == 0 :
            l.append(i)

In [131]:
l

[0, 6]

In [132]:
l = []
for i in range(10):
    l.append(i)

In [133]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [134]:
["yes " if i == 1  else "no" if i == 2 else "test " for i in l]

['test ',
 'yes ',
 'no',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ',
 'test ']

In [135]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [136]:
res = []
for i in l :
    if i == 1 :
        res.append("yes")
    elif i ==2 :
        res.append("no")
    else :
        res.append("test")

In [137]:
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']