In [ ]:
# Tuple

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
l=[]
type(l)

list

In [4]:
t1=(234,34,"shivaram",3.45,True)

In [6]:
t1[0]

234

In [7]:
t1[0:4]

(234, 34, 'shivaram', 3.45)

In [8]:
t1[::-1]

(True, 3.45, 'shivaram', 34, 234)

In [9]:
t1[-1]

True

In [11]:
 l1=[234,34,"shivaram",3.45,True]

In [12]:
l1[0]="babar"

In [13]:
l1

['babar', 34, 'shivaram', 3.45, True]

In [14]:
t1[0]="babar"

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuples are called as immutable entity
list is mutable entity

In [18]:
t2=(234,54,565)

In [19]:
t1+t2

(234, 34, 'shivaram', 3.45, True, 234, 54, 565)

In [20]:
t1*4

(234,
 34,
 'shivaram',
 3.45,
 True,
 234,
 34,
 'shivaram',
 3.45,
 True,
 234,
 34,
 'shivaram',
 3.45,
 True,
 234,
 34,
 'shivaram',
 3.45,
 True)

In [21]:
t1

(234, 34, 'shivaram', 3.45, True)

In [22]:
34 in t1

True

In [24]:
"babar" in t1

False

In [25]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
t3=(23,343,45,454,54)

In [27]:
max(t3)

454

In [28]:
min(t3)

23

In [29]:
t4=("sagar", "nikhil")

In [30]:
max(t4)

'sagar'

In [31]:
t1

(234, 34, 'shivaram', 3.45, True)

In [32]:
t1.index(34)

1

In [33]:
t1.count(34)

1

In [34]:
min(t4)

'nikhil'

In [35]:
t

()

In [36]:
t1

(234, 34, 'shivaram', 3.45, True)

In [39]:
t5=(90,45)

In [40]:
t1+t5

(234, 34, 'shivaram', 3.45, True, 90, 45)

In [41]:
t6=56

In [42]:
l5=list(t1)

In [43]:
l5.insert(3,t6)

In [44]:
l5

[234, 34, 'shivaram', 56, 3.45, True]

In [52]:
tuple(l5)

(234, 34, 'shivaram', 56, 3.45, True)

In [46]:
t=((3,4,5,6,7)),("babar",45,45),45,454,67,[4,5,6,7]

In [53]:
[t6][1:4]

[]

In [54]:
t[1][0]

'babar'

In [55]:
for i in t :
  print(i)

(3, 4, 5, 6, 7)
('babar', 45, 45)
45
454
67
[4, 5, 6, 7]

In [56]:
for i in t :
  if type(i)==tuple :
    print(i[0])

3
babar

In [57]:
t1

(234, 34, 'shivaram', 3.45, True)

In [58]:
t2

(234, 54, 565)

In [59]:
if len (t1) == len(t2) :
  print("its same ")
else :
  print("not same")

not same

In [60]:
t = (234, 34, 'shivaram', 3.45,34,34, True, "babar")

In [62]:
i=input("take a user input ")

if i in t :
  print("yes your name is available ")
else :
  print("your name is not available ")

take a user input hello
your name is not available

In [63]:
t

(234, 34, 'shivaram', 3.45, 34, 34, True, 'babar')

In [64]:
l1

['babar', 34, 'shivaram', 3.45, True]

In [65]:
del(34)

SyntaxError: cannot delete literal (<ipython-input-65-5193efdf4528>, line 1)

In [66]:
t1=(34)

In [67]:
del(t)

In [68]:
t

NameError: name 't' is not defined

In [70]:
del(l1)

In [71]:
l1

NameError: name 'l1' is not defined

In [72]:
l=[324,343,343,34]

In [73]:
t2

(234, 54, 565)

In [ ]:
### Set

In [74]:
x = set()

In [75]:
type(x)

set

In [76]:
l=[34,45,45,45,45,67,34,56,78,"shivaram","babar"]

In [78]:
set(l)

{34, 45, 56, 67, 78, 'babar', 'shivaram'}

In [83]:
s=set(l)

In [84]:
for i in s :
  print(i)

34
67
babar
shivaram
45
78
56

In [85]:
34 in s

True

In [86]:
35 in s

False

In [87]:
s[0]

TypeError: 'set' object is not subscriptable

In [90]:
s=set()
s

set()

In [92]:
s.add(45)

In [93]:
s

{45}

In [94]:
s.add("shivaram")

In [95]:
s.add("sdsdsd")

In [96]:
s.add(234555,535)

TypeError: set.add() takes exactly one argument (2 given)

In [97]:
s

{45, 'sdsdsd', 'shivaram'}

In [99]:
s.remove(45)

KeyError: 45

In [100]:
s.clear()

In [101]:
s

set()

In [102]:
s

set()

In [103]:
s

set()

In [104]:
s

set()

In [105]:
s.add("sdsd")

In [106]:
s.add(234)

In [107]:
s.add(345)

In [108]:
s.add("wer")

In [109]:
s

{234, 345, 'sdsd', 'wer'}

In [110]:
s1=set(1)

TypeError: 'int' object is not iterable

In [111]:
l=[345,54646,4667,645,6]

In [112]:
s1

NameError: name 's1' is not defined

In [113]:
s*4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [114]:
s

{234, 345, 'sdsd', 'wer'}

In [115]:
l4=list(s)

In [116]:
l4.append(345)

In [117]:
l4

['sdsd', 345, 234, 'wer', 345]

In [118]:
t4=tuple(s)

In [119]:
set(t4)

{234, 345, 'sdsd', 'wer'}

In [120]:
# Dictionary

In [121]:
s[0]

TypeError: 'set' object is not subscriptable

In [122]:
x={}

In [123]:
type(x)

dict

In [124]:
x1={34,56}

In [125]:
type(x1)

set

In [128]:
x={"name" : "shivaram", "age":345} #name, age - key
#shivaram, 345 - value

In [129]:
type(x)

dict

In [133]:
x1 = {"name": "shivaram", "age": 23, True: "fsds", "key": False, 34554.456: None}

In [134]:
x1

{'name': 'shivaram', 'age': 23, True: 'fsds', 'key': False, 34554.456: None}

In [135]:
#we can add dictionary inside dictionary

In [137]:
l=[34,45,4,54]
l[2]

4

In [139]:
x1["key"]

False

In [140]:
x1[34554]

KeyError: 34554

In [141]:
x3={5:"wer",'k4':[345,534535,534,]}

In [ ]:
x4={"k4": }

In [191]:
x2 = {"name " :{"k1":"wer",'k4' :[345,534535,534,]} , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [192]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [193]:
x2["key"]

False

In [194]:
x2[34554]

(45, 45, 45, 45)

In [195]:
x2["_sfsdf"][3]

54

In [196]:
x2["name "]['k4'][2]

534

In [197]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [198]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 34554, '_sfsdf'])

In [199]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [200]:
x2.items()

dict_items([('name ', {'k1': 'wer', 'k4': [345, 534535, 534]}), ('age', 3455), (True, {34545, 454, 45, 54}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfsdf', [34, 45, 454, 54, 545])])

In [201]:
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [345, 534535, 534]}
3455
{34545, 454, 45, 54}
False
(45, 45, 45, 45)
[34, 45, 454, 54, 545]

In [202]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [203]:
len(x2)

6

In [204]:
e = {56: {45, 78, 89}}
e[56]

{45, 78, 89}

In [205]:
list(e[56])[0]

89

In [142]:
x3

{5: 'wer', 'k4': [345, 534535, 534]}

In [143]:
x3['k4']='shivaram'

In [144]:
x3

{5: 'wer', 'k4': 'shivaram'}

In [145]:
x3*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [152]:
x3['k4']=456

In [150]:
x3['k4']=10

In [153]:
x3

{5: 'wer', 'k4': 456}

In [154]:
x3.keys()

dict_keys([5, 'k4'])

In [155]:
'k4' in x3.keys()

True

In [157]:
for i in x3 :
  print(i)

5
k4

In [158]:
x3

{5: 'wer', 'k4': 456}

In [161]:
for i in x3.keys() :
  print(x3[i])

wer
456

In [162]:
x3

{5: 'wer', 'k4': 456}

In [164]:
x3.items()

dict_items([(5, 'wer'), ('k4', 456)])

In [166]:
for i in x3.items():
  print(i)

(5, 'wer')
('k4', 456)

In [167]:
for i in x3.items():
  print(i[0])

5
k4

In [177]:
x5={(34,56,56) : "jdjdhkhdkj"}

In [170]:
x5

{(34, 56, 56): 'jdjdhkhdkj'}

In [175]:
x5[(34,56,56)]

'jdjdhkhdkj'

In [172]:
x3

{5: 'wer', 'k4': 456}

In [173]:
len(x3)

2

In [178]:
len(x5)

1

In [180]:
data=input("Enter the paragraph-->> ")

# Q1
data_list= data.split(" ")

# Q2
no_duplicate=set(data_list)

# Q3
my_dict={}
for i in no_duplicate:
    my_dict[i]="shivaram"
# my_dict

# Q4
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])

print("Tuple List-->> ",tuple(tup_list))



# Q5
list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->> ",list_keys)

Enter the paragraph-->> In conclusion, Diwali is a cherished tradition that holds a special place in my heart due to its rich cultural heritage, vibrant festivities, and profound symbolism. The festival encapsulates the values of joy, unity, and hope, serving as a time for celebration, reflection, and spreading happiness. As I partake in the rituals and customs of Diwali each year, I am reminded of the enduring spirit of humanity and the triumph of light over darkness that continues to inspire and uplift us all.
Tuple List-->>  ('shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram', 'shivaram')
List Keys-->>  ['I', 'that', 'reflection,', 'symbolism.', 'conclusion,', 'in', 'my', 'profound', 'the', 'As', 'us', 'reminded', 'a', 'each', 'is', 'values', 'serving', 'customs', 'celebration,', 'hope,', 'heart', 'and', 'as', 'for', 'enduring', 'cultural', 'time', 'continues', 'of', 'festivities,', 'cherished', 'joy,', 'Diwali', 'unity,', 'humanity', 'its', 'all.', 'rituals', 'heritage,', 'spreading', 'spirit', 'special', 'vibrant', 'triumph', 'darkness', 'partake', 'In', 'tradition', 'light', 'rich', 'inspire', 'The', 'holds', 'am', 'uplift', 'place', 'due', 'festival', 'year,', 'encapsulates', 'to', 'happiness.', 'over']

In [181]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the para:paragph = input("Enter the para:") lst1=paragph.split(" ") s1=set(lst1) dic1=dict.fromkeys(s1,'db') t1=tuple(dic1.keys()) l2=list(dic1.values())

In [189]:
s1

{'")',
 '=',
 "dic1=dict.fromkeys(s1,'db')",
 'input("Enter',
 'l2=list(dic1.values())',
 'lst1=paragph.split("',
 'para:")',
 'paragph',
 's1=set(lst1)',
 't1=tuple(dic1.keys())',
 'the'}

In [190]:
dic1

{'s1=set(lst1)': 'db',
 "dic1=dict.fromkeys(s1,'db')": 'db',
 'lst1=paragph.split("': 'db',
 '")': 'db',
 'para:")': 'db',
 'the': 'db',
 'paragph': 'db',
 't1=tuple(dic1.keys())': 'db',
 'input("Enter': 'db',
 '=': 'db',
 'l2=list(dic1.values())': 'db'}

In [182]:
d={"company":"shivaram", "course":"data science", "year":2023}

In [183]:
for i in d :
    print(" print a key  : " ,i  , " ; ", "value wise :  " , d[i])

 print a key  :  company  ;  value wise :   shivaram
 print a key  :  course  ;  value wise :   data science
 print a key  :  year  ;  value wise :   2023

In [184]:
"course" in d

True

In [185]:
d

{'company': 'shivaram', 'course': 'data science', 'year': 2023}

In [186]:
my_dict = {}
for i in range(10):
    my_dict[i] = i *i

In [187]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [206]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}