In [1]:
notes =5
i=1
while i < notes:
  print(i)
  i+=1
else :
  print("no 10 rs notes are available")

1
2
3
4
no 10 rs notes are available

In [6]:
notes =5
i=1
j=1
while i < notes:
  print(i)
  i+=1
else :
  while j < 2:
    print(i)
    j=j+1
  print("no 10 rs notes are available")

1
2
3
4
5
no 10 rs notes are available

In [7]:
s="shivaram"

In [8]:
s

'shivaram'

In [9]:
s[2]

'i'

In [10]:
s[3:5]

'va'

In [11]:
s[3:5:2]

'v'

In [12]:
s[3:5:-2]

''

In [13]:
s[::-1]

'maravihs'

In [15]:
s[2:-5]

'i'

In [17]:
s="my name is shivaram"

In [18]:
for i in s :
  print(i)

m
y

n
a
m
e

i
s

s
h
i
v
a
r
a
m

In [19]:
s[2:-6]

' name is sh'

In [20]:
for i in s :
  if i== 's' :
    print("i got s as a string")
  print(i)

m
y

n
a
m
e

i
i got s as a string
s

i got s as a string
s
h
i
v
a
r
a
m

In [21]:
s

'my name is shivaram'

In [22]:
for i in s:
  print(i)
else :
  print("this is else condition")

m
y

n
a
m
e

i
s

s
h
i
v
a
r
a
m
this is else condition

In [23]:
for i in s:
  if i == "n":
    break
  print(i)
else :
  if i== 'u' :
    print("last char was u ")
  print("this is else condition")

m
y

n
a
m
e

i
s

s
h
i
v
a
r
a
m
this is else condition

In [24]:
for i in s:
  if i == "n":
    continue
  print(i)
else :
  if i== 'u' :
    print("last char was u ")
  print("this is else condition")

m
y

a
m
e

i
s

s
h
i
v
a
r
a
m
this is else condition

In [29]:
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]

In [30]:
ss

'ieuro'

In [31]:
len(s)

7

In [35]:
n = 7
for i in range(0 ,n):
    for j in range(0 ,i +1):
        print("+ " , end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [36]:
def pattern(n):
      k = 2*n -2
      for i in range(n,-1,-1):
           for j in range(k,0,-1):
                print(end=" ")
           k = k +1
           for j in range(0, i+1):
                print("*", end=" ")
           print("\r")

pattern(5)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [37]:
n =9
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [41]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [42]:
for i in range(8, 0, -1):
    print(i)

8
7
6
5
4
3
2
1

In [43]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='')

    for j in range(2*i-1):
        print('*',end='')
    print()

Enter number of rows required: 5
*********
 *******
  *****
   ***
    *

In [44]:
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1

    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()

    k=k+2

    i=i+1

    *
   ***
  *****
 *******
*********

In [45]:
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()
print("**iNeuron-FSDS**")

Please enter the amount of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************
**iNeuron-FSDS**

In [ ]:
name = "shivaram"
phno = 543535345
addr = "sdfsff"

name , phno , addr = "sudh " , 54353453,"fgfd"

In [46]:
l = ["shivaram" , 34535,"sfsfsafa", True, 45+8j , [3,5,6,"dfg"],6.787]

len(l)

7

7

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
for i in l :
    if type(i) == list:
        n = 0
        for  j in i :
            if type(j) == int :
                n = n + j
        print(n)

        print(type(j))